header {
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 350px;
}

#loginDiv, #registerDiv {
    display: inline-block;
    width: 320px;
    height: 500px;
    border: 1px solid black;
    padding: 20px 10px;
    vertical-align: bottom;
    text-align: center;
    margin: 0 auto;
}

#registerDiv input {
    width: 180px;
}

#loginDiv input {
    margin: 0 auto;
}

#loginDiv label {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: 20px;
}

#registerDiv label, #registerDiv input {
    width: 142px;
    display: inline-block;
}

.loginButton {
    margin-top: 30px;
}

.homeParagraph {
    font-size: 1.5em;
    text-align: center;
    padding: 20px 5px 20px 5px;
}

.homeDiv {
    width: 350px;
    border: 1px solid black;
}

.button, .button:focus {
    color: white;
    font-weight: bold;
    background: blue;
    border: 1px solid darkblue;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
    width: 150px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button:hover {
    background: steelblue;
    border: 1px solid darkblue;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    cursor: pointer;
}

.buttonsBox {
    width: 350px;
    margin: 0 auto;
}

.registerField {
    display: inline-block;
}

.inputRegisterField {
    margin-bottom: 20px;
}

.inputRegisterField label {
    text-align: left;
}

.registerLocation {
    margin-top: 20px;
    font-size: 1.5em;
}

#userPreview, #userMenu {
    display: inline-block;
    float: left;
}

#userPreview {
    margin: 10px 10px;
}

#search-bar {
    width: 230px;
    float: right;
    display: inline-block;
    margin-right: 30px;
}

#search-bar input {
    border: 1px solid gray;
    border-radius: 8px;
    height: 40px;
}

#userFieldHeader {
    width: 850px;
    margin: 30px auto;
}

.headerLink {
    margin-right: 10px;
    border: 1px solid gray;
}

#user-header {
    margin-left: 40px;
    display: block;
}

#search-button, #search {
    display: inline-block;
}