<div id="changePassword">
    <div>
        <h1 class="userFieldHeader">Change Password</h1>
    </div>
    <div  id="change-password-container">
        <div class="changePassword">
            <div class="inputRegisterField">
                <label for="inputOldPassword">Old password</label>
                <div class="registerField">
                    <input type="password" class="form-control" id="inputOldPassword" ng-model="passData.oldPassword" required>
                </div>
            </div>
            <div class="inputRegisterField">
                <label for="inputNewPassword">New password</label>
                <div class="registerField">
                    <input type="password" class="form-control" id="inputNewPassword" ng-model="passData.newPassword" required>
                </div>
            </div>
            <div class="inputRegisterField">
                <label for="inputConfirmNewPassword">Confirm password</label>
                <div class="registerField">
                    <input type="password" class="form-control" id="inputConfirmNewPassword" ng-model="passData.confirmPassword" required>
                </div>
            </div>
        </div>
        <div class="saveChangePasswordButton">
            <button type="submit" class="btn btn-primary" ng-click="changePassword(passData)">Save Changes</button>
        </div>
    </div>
</div>
