<div id="edit-profile" back-img="{{coverImage}}">
    <div>
        <h1 class="userFieldHeader">Edit Profile</h1>
    </div>
    <div id="profile-container">
        <form class="form-horizontal">
            <div id="image-profile-container">
                <div class="image-box">
                    <img class="image-box" ng-src="{{userData.profileImageData}}">
                </div>
                <div>
                    <p>Allowed format: .jpg</p>
                    <p>Limit: 128kb</p>
                </div>
                <input type="file" onchange="angular.element(this).scope().fileSelected(this)" />
            </div>
            <div id="profile-data-container">
                <div class="inputRegisterField">
                    <label for="inputRegisterUsername">Username</label>
                    <div class="registerField">
                        <input type="text" class="form-control" id="inputRegisterUsername" ng-model="name" required>
                    </div>
                </div>
                <div class="inputRegisterField">
                    <label for="inputRegisterEmail">Email</label>
                    <div class="registerField">
                        <input type="email" class="form-control" id="inputRegisterEmail" ng-model="userData.email" required>
                    </div>
                </div>
                <div class="inputRadio">
                    <span id="inputRegisterGender">Gender</span>
                    <div class="radioRegisterField">
                        <input type="radio" name="gender" value="1" ng-model="userData.gender"> Male
                        <input type="radio" name="gender" value="2" ng-model="userData.gender"> Female
                        <input type="radio" name="gender" value="0" ng-model="userData.gender"> Other
                    </div>
                </div>
                <div class="coverImageArea">
                    <div id="coverImageTitleArea">
                        <div class="coverImageLimitTitle">
                            <p>Limit: 1024kb</p>
                        </div>
                        <input type="file"
                               onchange="angular.element(this).scope().coverFileSelected(this)" />
                    </div>
                    <div class="image-profile-box">
                        <img class="image-profile-box" ng-src="{{userData.coverImageData}}">
                    </div>
                </div>
            </div>
            <div class="editProfileButton">
                <button type="submit" class="btn btn-primary" ng-click="updateProfile(userData)">Save Changes</button>
            </div>
        </form>
    </div>
</div>
