<div class="news-feed-title" back-img="{{coverImage}}">
    <div>
        <h1 class="userFieldHeader">Requests Friendship</h1>
    </div>
    <div class="userDetails">
        <ul>
            <li class="findUsers" ng-repeat="userRequest in usersData">
                <img class="userImage" ng-src="{{userRequest.user.profileImageData}}">
                <a href="#/user/user-details/{{userRequest.user.username}}">{{userRequest.user.name}}</a>
                <button type="submit" class="btn btn-primary" ng-click="approveFriendRequest(userRequest.id)">Approve Friendship</button>
                <button type="submit" class="btn btn-primary" ng-click="rejectFriendRequest(userRequest.id)">Reject Friendship</button>
            </li>
        </ul>
        <div ng-if="isFriendshipRequests">
            <p style="font-size: 1.5em">No friendship requests</p>
        </div>
    </div>
</div>