<div id="userFieldHeader">
    <span id="userPreview">
        <span class="userImagePreview">
            <img class="userImagePreviewTitle" ng-src="{{userData.profileImageData}}">
        </span>
        <span class="userNameTitle">{{userData.name}}</span>
    </span>
    <div ng-if='ad.imageDataUrl'>
        <strong>Image:</strong><img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
    </div>
    <div id="userMenu">
        <span class="headerLink"><a href="#/news"><img src="images/news.bmp"/></a></span>
        <span class="headerLink"><a href="#/like_friend"><img src="images/friends.bmp"></a></span>
        <span class="headerLink"><a href="#/edit-profile"><img src="images/settings.bmp"></a></span>
        <span class="headerLink"><a href="#/changePassword"><img src="images/change_password.bmp"></a></span>
        <span class="headerLink"><a href="#/" ng-click="logout()"><img src="images/logout.bmp"></a></span>
    </div>
    <div id="search-bar">
        <form>
            <input type="search" id="search">
            <button type="submit" id="search-button" ng-click="search"><img src="images/search.bmp"></button>
        </form>
    </div>
</div>