<div class="news-feed-title" back-img="{{coverImage}}">
    <div>
        <h1 class="userFieldHeader">News Feed</h1>
    </div>
    <div class="userDetails">
        <div>
            <ul class="findUsers">
                <li class="post" ng-repeat="post in newsPosts">
                    <div>
                        <div class="postAuthorData">
                            <div class="postAuthorImage">
                                <img class="userFriendPostImage" ng-src="{{post.author.profileImageData}}">
                            </div>
                            <div class="postAuthorNameData">
                                <p>{{post.author.name}}</p>
                                <p>{{post.date}}</p>
                            </div>
                        </div>
                        <div class="postContent">
                            <p>{{post.postContent}}</p>
                            <textarea ng-if="isShowCommentArea[post.id]" ng-model="commentData.commentContent"></textarea>
                            <p>
                                <button type="submit" ng-click="showCommentArea(post.id)"><img src="images/comment.bmp"></button>
                                <button type="submit" ng-click="createNewComment(post.id, commentData)">Comment</button>
                            </p>
                        </div>
                    </div>
                    <ul class="userDetails">
                        <li ng-repeat="comment in post.comments">
                            <div class="postAuthorData">
                                <div class="postAuthorImage">
                                    <img class="userFriendPostImage" ng-src="{{comment.author.profileImageData}}">
                                </div>
                                <div class="postAuthorNameData">
                                    <p>{{comment.author.name}}</p>
                                    <p>{{comment.date}}</p>
                                </div>
                            </div>
                            <div class="postContent">
                                <p>{{comment.commentContent}}</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>